<div class="login">
    <h1>Log in</h1>
    <div class="form">
        <%= form_for :session, url: login_path do |f| %>
            <%= f.email_field :email, :placeholder => "Email" %>
            <%= f.password_field :password, :placeholder => "Password" %> 
           <%= f.submit "Log in", class: "btn btn-danger" %>
            <% end %>
    </div>
    <br>
    <form method="get" action="/auth/facebook" id="sign_in">
        <button class="btn btn-primary" type="submit">Facebook Login</button>
    </form>

</div>

