<div class="container-fluid">
	<h1>Your Listings</h1>

		<table>
		<% @reservations.each do |reservation| %>
		<tr>
			<td>
				<a href="/listings/<%= reservation.listing.id %>">
					<%= reservation.listing.list_name %>
				</a>
				<br>
					Booked dates:
					<%= reservation.start_date %>
					<%= reservation.end_date %>
				<% end %>
			</td>
		</tr>
	</table>
</div>
