<div class="landing_image">
		<div class="container-fluid">
	<h1> This is the landing page! </h1>

	<% if logged_in? %>
		<h2> Welcome, <strong><%= current_user.last_name %></strong>! </h2>
	  <rb>
	  <form method="get" action="listings/index_all">
	        <button class="btn btn-primary" type="submit">View All Listings</button>
	  </form>
		<% end %>
	</div>
</div>